<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>310016562297-ha2hpkti501hiro68bn4u9bsju2jetov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310016562297-ha2hpkti501hiro68bn4u9bsju2jetov</string>
	<key>API_KEY</key>
	<string>AIzaSyDy3BYUcPNwB67sv8SyCPYh_iMs_EtfSUA</string>
	<key>GCM_SENDER_ID</key>
	<string>310016562297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gweb.LiveMedia</string>
	<key>PROJECT_ID</key>
	<string>livemedia-cdbb2</string>
	<key>STORAGE_BUCKET</key>
	<string>livemedia-cdbb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310016562297:ios:f6c45d5ae76a1d57</string>
	<key>DATABASE_URL</key>
	<string>https://livemedia-cdbb2.firebaseio.com</string>
</dict>
</plist>